In [10]:
# Use of IPython.display and HTML for using css to format text in Markdown based on
# www.dataquest.io/blog/advanced-jupyter-notebooks-tutorial
from IPython.display import HTML
HTML(
    "<style>\
    span.str {color:#BA2121; font-style:italic; font-weight:bold;}\
    span.num {color:#080; font-style:italic; font-weight:bold;}\
    span.bltn {color:#080; font-weight:bold;}\
    span.op {color:#AA22FF;}\
    span.func {color:#00F;}\
    h3.yt {color:#009900; font-style:italic;}\
    span.yt {color:#009900; font-style:italic;}</style>"
)

<h2><u>Case Study: Wholesale Market Prices: Organic versus Conventional - Part 2</u></h2>

In this Case Study you will practice reading and working with data that is stored in different file formats. More specifically, you will work with <b><i>text files (.txt)</i></b>, <b><i>comma-seperated values files</i></b> (.csv), and <b><i>Excel spreadsheets (.xls)</i></b>. 

<h3><b><i>Background</i></b></h3>
This Case Study continues examining the <b><i>Wholesale Market Price</i></b> dataset from the USDA.

<h3><b><i>Goal</i></b></h3>
The goal of this Case Study is to examine wholesale market prices for organic and conventional produce for selected vegetables in the years <b><i>2012 & 2013</i></b>. You will practice what you've learned in DataCamp's <a href = "https://learn.datacamp.com/courses/python-data-science-toolbox-part-2">Python Data Science Toolbox (Part 2)</a> and <a href = "https://learn.datacamp.com/courses/introduction-to-importing-data-in-python">Introduction to Importing Data with Python</a> by importing and working with different file types</i></b> to access, visualize, and examine the data. 

<h3><b><i>Data</i></b></h3>
The dataset used in this exercise is the <a href = "https://www.ers.usda.gov/data-products/organic-prices.aspx"> Wholesale Market Prices dataset</a> from the USDA [1]. This data contains wholesale prices for both organic and conventional produce for the years 2012 & 2013. This dataset includes price per month, the amount of produce for the wholesale price, as well as other data. You will be working with modified subsets of the 2012 & 2013 data stored as <b><i>.txt</i></b> and <b><i>.csv</i></b> files as well as the original data which is stored in an <b><i>Excel spreadsheet</i></b>. 

Sources: 
<ol style = "font-size:8px">
    <li>USDA. 2021. Organic Price : Wholesale vegetable prices, organic and conventional, monthly and annual, 2012-13. USDA ERS. https://www.ers.usda.gov/data-products/organic-prices.aspx </li>
</ol>

<h3>Flat file imports</h3>

In this section, you will practice <span class="bltn">opening</span> and <span class="bltn">reading</span> <b><i>csv</i></b> and <b><i>text</i></b> files.

<h4><u>Import Statements</u></h4>

In [11]:
# Import libraries and modules here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h4><u>Setting the File Names</u></h4>

The <span class="str">file_name</span> and <span class="str">file_name_csv</span> variables contain the file path and name of the <b><i>text</i></b> and <b><i>csv</i></b> files used for this section. Both of these files contain the same data.

In [12]:
# file names to use
file_name = 'Data/Vegetables_2012_Cleaned.txt'
file_name_csv = 'Data/Vegetables_2012_Cleaned.csv'

<h4><u>Opening and Reading a Text File</u></h4>

In the cell below the file specified by <b><i>file_name</i></b> is first <span class="bltn">opened</span> as a <b><i>file</i></b> object. More information on file objects can be found in <a href = "https://docs.python.org/3/tutorial/inputoutput.html"> Python's Input and Output Documentation</a>. A <span class="bltn">for </span> loop is used to read in the first four lines of the text file with the <b>readline</b> method and <span class="bltn">printed</span>. The <span class="bltn">type</span> fifth line in <b><i>file_name</i></b> is read in and the <span class="bltn">type</span> printed. The <b><i>file</i></b> is then <b>closed</b>.

In [13]:
# Read and print the first four lines of the file using the with open('file_name') as file syntax. 
# For the fifth line of the file, print the data type returned by file.readline()
with open(file_name) as file: 
    for i in range(0, 4): 
        # print lines 1 - 4 of the file with file.readline() and print
        
    # print 5th file.readline()'s data type

# Close the file 
file.close()

IndentationError: expected an indented block (<ipython-input-13-d8e81c6dbe57>, line 10)

<h4><u>Opening and Reading a Text File with NumPy</u></h4>

The variable <b><i>ws_np</i></b> contains the results of reading in a <b><i>text</i></b> file using NumPy's <b>loadtxt</b> function. Let's read the <b><i>Wholesale Market Price</i></b> data in using this.

In [14]:
# Import the file stored in the file_name variable with NumPy using np.loadtxt(file_name, delimiter =",",, dtype = 'str') and store in
# a variable ws_np
ws_np = 

# Print the result

SyntaxError: invalid syntax (<ipython-input-14-6391156323df>, line 3)

<h4><u>NumPy Loadtxt Error</u></h4>

The first row of the <b><i>Vegetables_2012_Cleaned.txt</i></b> file which contains the data description (row at <span class="num">position 0</span> for Python) was purposely not skipped in the cell above. The result is that NumPy's loadtxt function cannot read the file.

The first line in the file contains the text: <span class="str">" Wholesale vegetable prices, organic and conventional, monthly and annual, 2012"</span>.  Can you guess why there is a problem reading in this line? 

To fix this add skiprows = 0 to np.loadtxt() to skip the first row of the file.

In [15]:
# Import the file stored in the file_name variable with NumPy using np.loadtxt(file_name, delimiter =",", dtype = 'str', skiprows = 2) 
# and store in variable ws_np
ws_np = 

# print the contents of the op_np variable

SyntaxError: invalid syntax (<ipython-input-15-c4b75bc5f532>, line 3)

<h4><u>NumPy Loadtxt Error - Discussion </u></h4>

NumPy's <b>loadtxt</b> function was able to load the text file the second time due to the first row of the text file being skipped using <b><i>skiprows</i></b> <span class="op">=</span> <span class="num">1</span>. This allowed the <span class="str">"Wholesale vegetable prices, organic and conventional, monthly and annual, 2012"</span> row to be skipped. The problem occurs due to the loadtxt function parsing each <span class="str">","</span> in that phrase. 

The <span class="str">","</span> character was specified as the <b><i>delimiter</i></b> for the <b>loadtxt</b> function which led it to treating the string <span class = "str">"Wholesale vegetable prices, organic and conventional, monthly and annual, 2012"</span> as seperate values. This resulted in more columns in the first row than existed in the rest of the dataset. 

The rest of the <b><i>'Vegetables_2012_Cleaned.txt'</i></b> has had the commas removed so that it can be loaded in correctly with the <b>loadtxt</b> function. Another potentional solution is to use a different <b><i>delimiter</i></b> instead of <span class="str">","</span>.

<h4><u>Accessing Loadtxt's Multidimensional Array</u></h4>

The value returned by <b>loadtxt</b> is a <b><i>multidimensional array</i></b>. <span class="bltn">Print</span> the data <span class="bltn">type</span> of <b><i>ws_np</i></b>. Access and <span class="bltn">print</span> the value in the 8th column <span class="num">index 7</span> in the first row <span class="num">index 0</span>. Then <span class="bltn">print</span> the <span class="bltn">type</span> of that value.

In [16]:
# Print the type of the ws_np variable

# Print the value and its type for the value located at ws_np[0][:][7]

<h4><u>Reading Text and CSV Files with Pandas</u></h4>

Pandas can also be used to read a text file using <b>read_csv</b>. The <b>read_csv</b> function can also be used to read in <b><i>csv</i></b> files into a <b><i>DataFrame</i></b>. In the Code cell below the <b><i>text</i></b> file, <b><i>file_name</i></b> is stored in the variable <b><i>ws_txt_df</i></b>.

In [17]:
# Read in the text file file_name variable using pandas and store as ws_txt_df with pd.read_csv(file_name)
ws_txt_df =

SyntaxError: invalid syntax (<ipython-input-17-50f19a555be0>, line 2)

In the Code cell below the <b><i>csv</i></b> file is read in as <b><i>ws_csv_df</i></b>.

In [18]:
# Read in the csv file file_name csv using pandas and store as ws_csv_df with pd.read_csv(file_name_csv)
ws_csv_df =

SyntaxError: invalid syntax (<ipython-input-18-b345f3cdf7b0>, line 2)

Next let's check to see if the contents of the two <b><i>DataFrames</i></b> are equal using the <b>equals</b> method.

In [19]:
# Test if ws_txt_df is equal to ws_csv_df using ws_txt_df.equals(ws_csv_df)

<h3>Working with Excel spreadsheets</h3>

In this section, you will practice reading the <b><i>Wholesale Market Price</i></b> data that is stored in an <b><i> Excel Spreadsheet</i></b>.

<h4><u>Reading a Spreadsheet with Pandas</u></h4>

The <span class="str">xls_file</span> contains the file path and name of a <b><i>spreadsheet</i></b> containing two <b><i>sheets</i></b>. <b><i>ExcelFile</i></b> is used to read the file into an <b><i>ExcelFile</i></b> object called <b><i>ws_xls_df</i></b>. The names of the <b><i>sheets</i></b> in the spreadsheet are then accessed using <b><i>.sheet_names</i></b> and the results <span class="bltn">printed</span>.

In [20]:
# File name for Excel spreadsheet
xls_file = 'Data/Vegetables.xls'

# Import the Excel spreadsheet using panda's pd.ExcelFile(). Store in a variable ws_xls_df
ws_xls_df = 

# Print the sheet names using .sheet_names with the variable you just created in the line of code above

SyntaxError: invalid syntax (<ipython-input-20-220ae12ad55a>, line 5)

<h4><u>Loading a Sheet</u></h4>

Now that we know the names of the <b><i>sheets</i></b>, we can <b><i>parse</i></b> one into a <b><i>DataFrame</i></b> called <b><i>ws_12_df</i></b>.

In [21]:
# Load the 2012 sheet.  Use the variable name ws_12_df.parse() and read in the '2012' sheet.
# Skip the first row of the spreadsheet skiprows = [0] because this contains the a summary of the data, not the column names. 
ws_12_df = 

# Display the ws_12_df using .head()

SyntaxError: invalid syntax (<ipython-input-21-b5ade94f9bee>, line 3)

<h4><u>Modifying DataFrame Column Names</u></h4>

The original column names in the <span class="str">2012</span> sheet are rather long. Let's update them with new names by creating a <span class="bltn">list</span> containing the updated names as <span class="str">strings</span> then setting the <b><i>columns</i></b> of <b><i>ws_12_df</i></b> to the <span class="bltn">list</span>

In [22]:
# Let's replace the headings with more uniform names
new_col = ['Commodity', 'Subgroup', 'Package', 'Method', 'Terminal Market', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Year']

# Set the ws_12_df.columns equal to the new column names. 
ws_12_df.columns = 

# Check that the column names have been updated by printing the first 5 rows of the DataFrame

SyntaxError: invalid syntax (<ipython-input-22-9c09b164c70c>, line 5)

<h4><u>Plotting the Data</u></h4>
Let's plot some of the data stored in <b><i>ws_12_df</i></b>. In the Code cell below, a <b><i>plot</i></b> is created displaying the <i>Months</i> on the x-axis and the <i>Price</i> of organically grown artichoke. A <b><i>scatterplot</i></b> is then overlaid on the same figure resulting in a line graph with data points.

In [23]:
# Plot the price of organically grown artichoke for each of the 12 months. 

# Store the monthly prices for organic artichoke in 2012 as the variable o_a_12
o_a_12 = ws_12_df.iloc[0, 5:17]

# Set the title, x-axis and y-axis labels
plt.title("Monthly Price of Organic Artichoke (2012)")
plt.xlabel("Month")
plt.ylabel("Price per 24s Carton")

plt.plot(o_a_12)
plt.scatter(new_col[5:17], o_a_12)
plt.show()

NameError: name 'ws_12_df' is not defined

<h3 class="yt">Your Turn: 1</h3>
<b><i>Read</i></b> and <span class="bltn"> print</span> the first <span class="num">10 lines</span> in the the <span class="str">'Vegetables_2013_Cleaned.txt'</span> file. Use the <span class="bltn">with open () as file:</span> syntax.

<h3 class="yt">Your Turn: 2</h3>
Read in the <span class="str">'Vegetables.xls'</span> file and open the <b><i>2013</i></b> spreadsheet using pandas <b>ExcelFile</b> and <b>parse</b> functions. <b><i>Skip</b></i> the <span class="num">first row</span> of the 2013 spreadsheet.

<h3 class="yt">Your Turn: 3 </h3>
Replace the column names in the DataFrame you created in <span class="yt">Your Turn 2</span> with the column names stored in the previously created <b><i>new_col</i></b> variable. Display the updated DataFrame using the <b>.head()</b> method.

<h3 class="yt">Your Turn: 4 </h3>
Create a <b><i>figure</i></b> displaying the <b><i>monthly prices for conventionally grown cabbage from Atlanta during 2013</i></b>. You can choose to use any type of figure or plot used so far in this course or choose one of your own from the MatPlotLib documentation. 

Make sure the figure has a <b><i>title</i></b> and that the <b><i>axes</i></b> are labeled.